--extra-index-url https://download.pytorch.org/whl/cpu

# =========================
# LangChain / RAG
# =========================
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-mistralai==0.2.11
langchain-text-splitters==0.3.8

mistralai==1.8.1


# =========================
# Embeddings / Vector store
# =========================
torch==2.3.1+cpu
sentence-transformers==5.0.0
faiss-cpu==1.11.0


# =========================
# API
# =========================
fastapi==0.116.1
uvicorn==0.35.0


# =========================
# Data processing
# =========================
pandas==2.3.1
numpy==2.3.1
pyarrow==21.0.0


# =========================
# Configuration
# =========================
python-dotenv==1.1.1
requests==2.32.4


# =========================
# Validation / Tests
# =========================
pydantic==2.11.7
pytest==8.4.1
pytest-cov==6.2.1
httpx==0.28.1


# =========================
# Utils
# =========================
tqdm==4.67.1
scikit-learn==1.7.0


# =========================
# Evaluation RAG
# =========================
ragas==0.3.0
datasets==4.0.0
